h2{
    text-align: center;
    padding-top: 40px;
}

.home{
    border: 2px solid black;
    margin-left: 10%;
    height: 300px;
    margin-top: 10%;
    width: 80%;
}
.options{
    padding-left: 2%;
}
.btnconfig{
   font-size: 20px;
   padding: 10px 15px;
   float: left;
   width:100px;
   height:40px;
   margin: 12% 0% 2% 12%;
   text-decoration: none;
}
.log{
    float: right;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    border:1px solid black;
    padding: 10px 10px 10px 10px;
   
    text-align: center;
}